.popup__submit-button_type_disabled {
 opacity: .2;
 color: black;
 border: 1px solid black;
 background-color: #fff;
 pointer-events: none;
}
.popup__submit-button_type_disabled:hover {
    opacity: .2;
    cursor: auto;
}