.elements__like-button {
    width: 22px;
    height: 19px;
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    border: none;
    padding: 0;
    align-self: center;
}
.elements__like-button:hover {
    opacity: .5;
    cursor: pointer;
}
.elements__like-button:active {
    opacity: 1;
    background-image: url(../../../images/like-black.svg);
}