.popup__input-error {
  display: block;
  margin: 5px auto 0;
  font-weight: 400;
  max-width: 358px;
  height: 30px;
  font-size: 12px;
  line-height: 15px;
  color: #FF0000;
  visibility: hidden;
}
@media screen and (max-width: 540px) {
  .popup__input-error {
      max-width: 238px;
  }
}