.profile__info {
    display: flex;
    min-height: 73px;
    align-self: center;
    flex-wrap: wrap;
    max-width: 336px;
    position: relative;
}
@media screen and (max-width: 540px) {
    .profile__info {
        justify-content: center;
        margin-top: 26px;
        min-height: 54px;
    }
}   