.profile__job {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 336px;
    order: 3;
    background-color: black;
    color: #fff;
    border: none;
    margin: 16px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media screen and (max-width: 540px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        margin-top: 11px;
        width: 282px;
        text-align: center;
    }
}